    <nav class='nav-bar'>
            {{#if user}}
                <span>Hello {{#if user}} {{user.name}}  {{/if}} </span>
                <ul>
                        {{#if isEmployee}}
                                    {{!-- <li><a href="/users">All users</a></li> --}}
                                    <li><a href="/users/clients">Clients</a></li>
                                    <li><a href="/users/employees">Employees</a></li>
                                    <li><a href="/pets">Patients</a></li>
                                {{else}}
                                    <li><a href="#emergencyForm">Book an appointment</a></li>
                                {{/if}}

                                  <li><a href="/users/{{user._id}}">Profile</a></li>
                                  <li><a href="/logout">Logout</a></li>
                        {{else}}

                             {{> auth/login this}}
                
                        {{/if}}
            </ul>
        
    </nav>

<header id="header">
  {{#if signUp}}
      {{> auth/signup this}}
  {{else}}
      <img src="../images/pets.png" alt="pets">
 {{!-- <div class="container">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="../images/pets.png" alt="pets">
              </div>

              <div class="item">
                <img src="../images/clinic-front.png" alt="clinic" >
              </div>
            
              <div class="item">
                <img src="../images/op-room.png" alt="op-room" >
              </div>
            </div>
          </div>
</div>  --}}

  {{/if}}
</header>


<section id="general-information">
      <article class="container">
        <img src="/images/services.png" alt="services">
        <h3> Services </h3>
        <p class="text"> Check out our at home sevices </p>
        <a class="link-btn" href="#"> More </a>
      </article>

      <article class="container">
        <img src="/images/team.png" alt="team"> 
        <h3> Team </h3>
        <p class="text"> Find out more about our specialized team. </p>
        <a class="link-btn" href="#"> More </a>
      </article>

      <article class="container">
        <img src="/images/news.png" alt="news">
        <h3> News </h3>
        <p class="text"> All the news about pets. </p>
        <a class="link-btn" href="#"> More </a>
      </article>
    </section>
<section id='emergencyForm'>

</section>

<section id='mapSection'>
    <div id="infos">
             <h5> Contact Information </h5>
        <address class="address">Animal Clinic <br /> Buschkrug Allee 206,  <br /> 12359 Berlin <br /> Germany <br /> +49 157 00 00 00</address>
    </div>
    <div>
        <h3>Choose the clinic in your nearest! </h3>
      <div id='map' ></div>

    </div>
      
</section>

   <footer class="footer">
      <section id='footer'>
   
        <h5> Follow Us </h5>
        <ul>
          <li> <a href="#"> Twitter </a> </li>
          <li> <a href="#"> Facebook </a> </li>
          <li> <a href="#"> Instagram </a> </li>
        </ul>
      </section>
    </footer>
