<h2>Edit pet</h2>
 <div class="result-card highlight">
    <form action="/pets/{{_id}}/edit" method="POST" class="form" >

      <label for="name">Name</label>
      <input type="text" name="name" id="name" value= "{{name}}" required>
      
      <label for="petType">Pet type</label>
      <select name="petType" id="pet-type">
         <option value="dog">Dog</option>
         <option value="cat">Cat</option>
         <option value="bird">Bird</option>
         <option value="reptile">Reptile</option>
         <option value="other">Other</option>
      </select>

      <label for="age">Age</label>
      <input type="text" name="age" id="age" value= "{{age}}" required>

      <label for="diagnosis">Diagnosis</label>
      <input type="text" name="diagnosis" id="diagnosis" value= "{{diagnosis}}" required>

      <label for="treatment">Treatment</label>
      <input type="text" name="treatment" id="treatment" value= "{{treatment}}" required> <br>

      <label for="owner">Owner</label>
      <select name="owner" id='owner-select'>
         {{#each owners}}
                     
               <option value="{{this._id}}">{{this.name}} {{this.lastName}} </option>
         
         {{/each}}
      </select> <br>
  
      
  
       <button type="submit" >Save</button>
    </form>
</div>