<h2>Edit pet</h2>
{{#with pet}}
 <div class="result-card highlight">
    <form action="/pets/{{_id}}/edit" method="POST" class="form" >

      <label for="name">Name</label>
      <input type="text" name="name" id="name" value= "{{name}}" required>
      
      <label for="specie">Pet type</label>
      <select name="specie" id="specie" value= "{{specie}}" required>
          <option value="">--</option>
         <option value="dog">Dog</option>
         <option value="cat">Cat</option>
         <option value="bird">Bird</option>
         <option value="reptile">Reptile</option>
         <option value="other">Other</option>
      </select>

       <label for="breed">Breed</label>
      <input type="text" name="breed" id="breed" value= "{{breed}}" required>


      <label for="age">Age</label>
      <input type="text" name="age" id="age" value= "{{age}}" required>

{{/with}}
{{#if isEmployee}}

         <label for="diagnosis">Diagnosis</label>
         <input type="text" name="diagnosis" id="diagnosis" value= "{{pet.diagnosis}}" required>

         <label for="treatment">Treatment</label>
         <input type="text" name="treatment" id="treatment" value= "{{pet.treatment}}" required> <br>


{{/if}}
                       
       <button type="submit" >Save</button>
    </form>

            <a href="/pets">Back</a>


</div>