{{#each pets}}
     <div class="result-card">

          <span><a href="/pets/{{_id}}"> {{name}}, {{specie}}</a></span>
          <span>{{owner.lastName}}, {{owner.name}}</span>
     </div>
{{/each}}
          <div class="buttons">

               {{#if isEmployee}}
                        <h4><a href="/pets/add">Add pet</a></h4> 

                    {{else}}
                         <h4><a href="/users/{{user._id}}/pet">Add pet</a></h4>
                    {{/if }}

                    <h4><a href="/">Back</a></h4>
          </div>
