{{#each pets}}
     <div class="result-card">

          <span><a href="/pets/{{_id}}"> {{name}}, {{specie}}</a></span>
          <span>{{owner.lastName}}, {{owner.name}}</span>
     </div>
{{/each}}
       {{#if isEmployee}}
                <a href="/pets/add">Add pet</a>

          {{else}}
                <a href="/users/{{user._id}}/pet">Add pet</a>
          {{/if }}