{{#each pets}}
     <div class="result-card">

          <span><a href="/pets/{{_id}}"> {{name}}, {{type}}</a></span>
          <span>{{owner.lastName}}</span>
          <span>{{owner}}</span>
     </div>
{{/each}}
{{!-- {{/with}} --}}
     <h4><a href="/pets/add" id="add-btn">Add pet</a></h4>