        
        
      {{#with pet}}  
          <div class="result-card pet-highlight">
              
                    <p>Name: {{this.name}}</p>
                    <p>Specie: {{this.specie}}</p>
                    <p>Breed: {{this.breed}}</p>
                    <p>Age: {{this.age}}</p>
                    <p>Diagnosis: {{this.diagnosis}}</p>
                    <p>Treatment: {{this.treatment}}</p>
      {{/with}}
                    <p>Owner: {{owner.name}} {{owner.lastName}}</p>
      {{#with pet}}  
                    <p>Last recovery: {{this.updatedAt}}</p>
    
                    <div class="buttons">
                    <a href="/pets/{{_id}}/edit">Edit</a>

                    <form action="/pets/{{_id}}/delete" method="POST">
                    <button type="submit" id="delete-btn">Delete</button>
    {{/with}}
                    </form>
                </div>
          </div>

            <a href="/pets">Back</a>
