        
        
      {{#with pet}}  
          <div class="result-card pet-highlight">
              
                    <span>{{this.name}}</span>
                    <span>{{this.type}}</span>
                    <p>Age: {{this.age}}</p>
                    <p>Diagnosis: {{this.diagnosis}}</p>
                    <p>Treatment: {{this.treatment}}</p>
                    <p>Owner: {{owner.name}} {{owner.lastName}}</p>
          </div>
      {{/with}}