{{#with user}}
    <div class="result-card highlight">

            <h3 href="/users/{{_id}}"> {{name}} {{lastName}}</h3>
                <div id="infos">
                    <p>Address: </p>
                      <p>&nbsp;Street: {{address.street}} </p>
                      <p>&nbsp;Zip Code: {{address.zip}}</p>
                      <p>&nbsp;City: {{address.city}}</p>
                      <p>&nbsp;State: {{address.state}}</p>
                      <hr>
                      <p>Phone number: {{phoneNumber}}</p>
                      <hr>
                      {{!-- {{#ifEqual role 'employee'}} --}}
                    <p>Position: {{position}}</p>
                    {{!-- {{/ifEqual}} --}}
                    <p>Employee since: {{createdAt}}</p>

                </div>
          
                <div class="buttons">
                    <a href="/users/{{_id}}/edit">Edit</a>

                    <form action="/users/{{_id}}/delete" method="POST">
                    <button type="submit" id="delete-btn">Delete</button>
                    </form>
                </div>
    </div>

            
    



 
{{/with}}
