{{#with user}}
    <div class="result-card highlight">

            <h3 href="/users/{{_id}}"> {{name}} {{lastName}}</h3>
                <div id="infos">
                    <p>Address: </p>
                      <p>&nbsp;Street: {{address.street}} </p>
                      <p>&nbsp;Zip Code: {{address.zip}}</p>
                      <p>&nbsp;City: {{address.city}}</p>
                      <p>&nbsp;State: {{address.state}}</p>
                      <hr>
                      <p>Phone number: {{phoneNumber}}</p>
                      <hr>
                      
                      <span>Pets: </span>
                      <ul>

                        {{#each pets}}
                        <li>Name: {{name}}&nbsp; Specie: {{specie}}&nbsp; Breed: {{breed}}&nbsp; Age: {{ age}}</li>   
                        {{/each}}
                      </ul>
                      <hr>
                      <p>{{role}} since: {{createdAt}}</p>
{{/with}}
                      {{#if isEmployee}}
                        {{#if userDbIsEmployee}}
                        <p>Position: {{position}}</p>
                        {{/if}}
                      {{/if}}
                </div>
     
                <div class="buttons">
                    <a href="/users/{{user._id}}/edit">Edit</a>

                    <form action="/users/{{user._id}}/delete" method="POST">
                    <button type="submit" id="delete-btn">Delete</button>
                    </form>
                </div>
    </div>
          {{#if isEmployee}}
                <a href="/pets/add">Add pet</a>

          {{else}}
                <a href="/users/{{user._id}}/pet">Add pet</a>
          {{/if }}

 
